body {
        font-family: Roboto, serif;
        margin: 0 0 0 0;
        background-color: #E0E0E0;
        }
    @font-face {
        font-family: Roboto;
        src: url(Roboto\ Slab_regular.ttf);
        }
    #topBar {
        background-color:rgba(40,40,40,0.8);
        position: fixed;
        }
    input[type="text"]{
        background-color: rgba(0,0,0,0);
        text-align: center;
        margin: 0 auto;
        position: absolute;
        float: left;
        -webkit-transform: translate(-50%, -50%);
        border: 2px solid black;
        border-radius: 4px;
        }
        .visible{   
            visibility: visible;
            }
        .hidden{     
            visibility: hidden;
            }
       .gone{     
            display: none;
    }
    #pageContainer {
        max-width: 400px;
        position: absolute;
        left: 0;
        right: 0;
        top: 100px;
        margin: 0 auto;
        text-align: center;
        /*z-index: 1;*/
        }
    .numberText{
        line-height: 1;
        margin: 0;
        padding: 0;
        /*z-index: -100;*/
        }
    .newNumberLine{  
        display: inline-block;
        color: #202020;
        }
    .oldNumberLine{        
        display: inline-block;
        color: #A0A0A0;
        }
    .oldNumberLine .compositeBlock .input[type="text"] {
        display:none;
        }
    .finishLine{
        display: inline-block;
        color: black;
        border: 4px solid black;    
        }
    .compositeBlock{
        margin: 0 auto;
        padding: 0;
        float: left;
        }
    .primeBlock{
        color: #A0A0A0;
        margin: 0 auto;
        padding: 0;
        float: left;
        }
    .timesBlock{
        color: #A0A0A0;
        margin: auto;
        float: left;
        } 
  #innerDiv {
        visibility: visible;
        position: absolute;
        width:auto;
        height: auto;
        white-space: nowrap;
        }
    #closeSettingsIcon{
        cursor: pointer;
        position: fixed;
        display: none;
        right: 0px;
        top: 0px;
        }
    .iconBar{
        width: 100%;
        z-index: 10;
        }
    #reloadButton {
        margin: 0 auto;
        width: 40px;
        height: 40px;
        }
    .iconCover{
        width: 40px;
        height: 40px;
        position: fixed;     
        z-index: 100;
        cursor: pointer;
        }
    .iconBack{
        width: 40px;
        height: 40px;
        position: fixed; 
        z-index: -1;
        }
    .icon{
        width: 52px;
        height: 52px;
        }
    .iconImage{
        
        margin: 6px;
        width: 40px;
        height: 40px;
        z-index: 2;
        }
    .selectedIconImage{     
        margin: 6px;
        width: 40px;
        height: 40px;
        z-index: 3;
        }
    #selectedBurger{
        visibility: hidden;
        position: fixed;
        }
    #settingsMenu {      
        color: white;
        font-weight: bold;
        overflow: hidden;
        transition: 0.3s;
        width: 100%;
        text-align: left; 
        color: #E0E0E0;
       }
    #menuText {
        list-style-type: none;
        }
    li {
        margin: 20px 40px;
        font-size: 14pt;
        }
    li:hover {
        color: white;
        }
    #menuTitle{
        margin-left: 50px;
        margin-bottom: 50px;
        }
    .openMenu {
        height: 100vh;
        }
    .closedMenu {
        height: 0px;
        }
    #levelSelector{
        left: 0;
        display: inline-block;
        }
    #levelNumber {        
        padding: 0 0;
        margin: 0 0;
        display: inline-block;
        }
    #levelText {
        display: inline-block;
        padding: 0 0;
        margin: 42px 0 0 0;
        }
    .levelButton{
        cursor: pointer;
        margin: 0 6px;
        display: inline-block;
        font-size: 24px;
        }
    #bottomBar {
        position: absolute;
    
        bottom: 10px;
        }
